.Rproj.user
.Rhistory
.RData
.Ruserdata
.saved_models
grids/
*.png
*.html

03_env/*
!03_env/eda_data.RData
!03_env/total_metrics.RData
!03_env/log_data.RData
!03_env/gains_n_lift.RData
!03_env/data_problems.RData

05_saved_models/*
!05_saved_models/lightgbm