.Rproj.user
.Rhistory
.RData
.Ruserdata
.saved_models
grids/
*.png
*.html

# Environment
03_env/*
!03_env/eda_data.RData
!03_env/total_metrics.RData
!03_env/log_data.RData
!03_env/gains_n_lift.RData
!03_env/data_problems.RData

# Machine Learning
04_ml/lgbm/lgbm_final.R
04_ml/lgbm/lgbm.R
04_ml/xgboost/xgboost.R
04_ml/xgboost/xgboost_final.R

# Saved ML models
05_saved_models/*
!05_saved_models/lightgbm